# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter 
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# uv / Python versioning
# =========================
uv.lock
.python-version